@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");
/* TAILWIND CSS LINKS */
@import "tailwindcss";
/* SLICK CAROUSEL LINKS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #1f317f; /* blue */
  --primary-color-foreground: #ffffff; /* blue */
  --secondary-color: #65a6db; /* light blue */
  --secondary-color-foreground: #292929; /* dark grey */
}

html:not([data-scroll="0"]) .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white !important;
  opacity: 1.9;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transition: 0.4s linear;
  padding: 0px !important;
  /* height: 20px; */
  z-index: 30;
}

html:not([data-scroll="0"]) .navbar > div > div {
  height: 3rem;
}

html:not([data-scroll="0"]) .border-right {
  height: 4rem;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.navbar {
  border-bottom: 0.5px solid rgba(196, 196, 196, 0.75);
}

.hover-underline {
  display: inline-flex;
  position: relative;
  /* color: #ffffff; */
  justify-content: center;
  align-items: center;
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.preline:before {
  content: "";
  display: block;
  width: 90px;
  height: 2px;
  background: #000000;
  left: 4px;
  top: 72%;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .preline:before {
    display: none;
  }
}

.comma-pos {
  top: -40px;
  left: -121px;
}

.border-right {
  border-right: 1px solid rgba(196, 196, 196, 0.55);
  height: 117px;
  padding-right: 70px;
}

@media only screen and (max-width: 1150px) {
  .border-right {
    height: 0px;
    border-right: 0px solid rgba(196, 196, 196, 0.55);
  }
}

.pd76 {
  padding-right: 76px !important;
}

.navbutton {
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.navlinks {
  color: rgba(0, 0, 0, 0.75);
}

.bg-digital {
  background-image: url("/images/digital/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-build {
  background-image: url("/images/beliefs/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: unset;
}

.girldoodle {
  top: 12px;
  right: -115px;
}

.marginFeature {
  margin-top: -500px;
}

@media only screen and (max-width: 700px) {
  .marginFeature {
    margin-top: -341px;
  }
}

.pb-70 {
  padding-bottom: 18rem;
}

.bg-scholarship {
  background-image: url("/images/apply/scholarship_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.bg-headstart {
  background-image: url("/images/apply/mentorship_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.bg-healthcare {
  background-image: url("/images/apply/healthcare_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.bg-vulnerable-group {
  background-image: url("/images/apply/group_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.bg-special-project {
  background-image: url("/images/apply/group_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.bg-grant {
  background-image: url("/images/apply/mentorship_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.bg-fap {
  background-image: url("/images/apply/help_bg.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.position-linkedin {
  right: 60px;
  bottom: -57px;
}

.bg-initiatives {
  background-image: url("/images/initiatives/elipse.svg"),
    url("/images/initiatives/vector.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top right;
}

@media only screen and (max-width: 768px) {
}

.nextarrow {
  background-color: aqua;
}

.faq-bg {
  background-image: url("/images/faq/swirl.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-testimonial {
  background-image: url("/images/initiatives/elipse.svg"),
    url("/images/testimonial/boy.svg"), url("/images/testimonial/girl.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 55%, 84% 26%, 12% 18%;
}

@media only screen and (max-width: 1400px) {
  .bg-testimonial {
    background-position: 80%, top right, top left;
  }
}

.manageTabs {
  border: 1px solid #dbdbdb;
  box-shadow: 0px 4px 5px 1px rgba(193, 193, 193, 0.35);
  border-radius: 20px;
}

.test-pos {
  left: 42px;
  top: 44px;
}

.test-sha {
  box-shadow: 0px 5px 10px rgba(89, 104, 118, 0.05);
}

.star {
  filter: invert(79%) sepia(53%) saturate(1095%) hue-rotate(330deg)
    brightness(101%) contrast(96%);
}

.article-img {
  top: 30px;
  right: 30px;
}

.w-345 {
  width: 400px;
}

.bg-messageus {
  background-image: url("/images/messageus/mail_notification.png"),
    url("/images/messageus/mail_paper_plane.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 84% 100%, 12% 18%;
}

.footer-icons {
  box-shadow: 0px 19px 28px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  transition: 0.5s;
}

.footer-icons:hover {
  transform: translateY(-8px);
}

.space-links {
  transition: 0.3s;
}

.space-links:hover {
  letter-spacing: 1px;
}

.dance-text {
  font-family: "Dancing Script", cursive !important;
  transform: rotate(-10.06deg);
  text-align: center;
  margin-left: -340px;
}

@media only screen and (max-width: 466px) {
  .dance-text {
    margin-left: -265px;
  }
}

.toggleImage {
  position: absolute;
  right: 47rem;
  top: 2rem;
}

@media only screen and (max-width: 1250px) {
  .toggleImage {
    display: none;
  }
}

.joinButton {
  padding: 20px 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1023px) {
  .joinButton {
    padding: 20px 92px;
  }
}

/* SLICK  */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-next {
  right: -70px !important;
}

.slick-prev {
  left: -60px !important;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 17px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 1500px) {
  .slick-arrow {
    display: none !important;
  }
}

.imageContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.imageContainer Image {
  width: 100%;
  vertical-align: top;
}

.imageContainer:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: 20px;
}

.imageContainer:hover:after {
  opacity: 1;
}

.imageContainer:hover > a > button {
  display: block;
}

.manage > div:nth-child(2) {
  background-color: #00224a !important;
  color: #ffffff;
}

.manage > div:nth-child(2) button {
  color: #ffffff;
}

.manage > div:nth-child(2) h3 {
  color: #c8c8c8;
}

/* 
* BUTTONS
*/

.btn-primary {
  background-color: var(--primary-color);
  color: var(--primary-color-foreground);
}

.btn-secondary {
  /* Secondary button style */
  background-color: var(--secondary-color);
  color: var(--secondary-color-foreground);
}

.btn-success {
  background-color: #2a9e45;
  color: white;
}

.btn-warning {
  background-color: #efb60b;
  color: #313131;
}

/* Focus styles for accessibility */
.btn:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Add a focus outline */
  outline: none; /* Remove the default outline */
}

/* 
    BANNER
*/

.gradient-banner {
  padding: 100px 0 170px;
  position: relative;
  overflow: hidden;
}

.gradient-banner::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-image: linear-gradient(
    45deg,
    #009ec5 0%,
    #2e7eed 20%,
    #02225b 50%
  );
  z-index: -1;
}

.shapes-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.shapes-container .shape {
  position: absolute;
}

.shapes-container .shape::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  position: absolute;
  border-radius: 50px;
}

.shapes-container .shape:nth-child(1) {
  top: 2%;
  left: 11%;
  width: 400px;
  height: 70px;
}

.shapes-container .shape:nth-child(2) {
  top: 14%;
  left: 18%;
  width: 200px;
  height: 15px;
}

.shapes-container .shape:nth-child(3) {
  top: 80%;
  left: 4%;
  width: 300px;
  height: 60px;
}

.shapes-container .shape:nth-child(4) {
  top: 85%;
  left: 15%;
  width: 100px;
  height: 10px;
}

.shapes-container .shape:nth-child(5) {
  top: 5%;
  left: 50%;
  width: 300px;
  height: 25px;
}

.shapes-container .shape:nth-child(6) {
  top: 4%;
  left: 52%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(7) {
  top: 80%;
  left: 70%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(8) {
  top: 55%;
  left: 95%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(9) {
  top: 50%;
  left: 90%;
  width: 300px;
  height: 50px;
}

.shapes-container .shape:nth-child(10) {
  top: 30%;
  left: 60%;
  width: 500px;
  height: 55px;
}

.shapes-container .shape:nth-child(11) {
  top: 60%;
  left: 60%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(12) {
  top: 35%;
  left: 75%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(13) {
  top: 90%;
  left: 40%;
  width: 300px;
  height: 45px;
}

.shapes-container .shape:nth-child(14) {
  top: 54%;
  left: 75%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(15) {
  top: 50%;
  left: 90%;
  width: 200px;
  height: 5px;
}

.shapes-container .shape:nth-child(16) {
  top: 50%;
  left: 81%;
  width: 100px;
  height: 5px;
}

/* 
    ABOUT US SECTION
*/

.we-are-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 1200px;
}

@media screen and (max-width: 860px) {
  .we-are-block {
    height: 2200px;
  }
}

@media screen and (max-width: 500px) {
  .we-are-block {
    height: 2300px;
  }
}

#about-us-section {
  background: #0c4c91;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 860px) {
  #about-us-section {
    flex-direction: column;
    justify-content: space-between;
  }
}

.about-us-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 860px) {
  .about-us-image {
    position: relative;
    width: 100%;
    height: 45%;
  }
}

@media screen and (max-width: 747px) {
  .about-us-image {
    height: 35%;
  }
}

@media screen and (max-width: 644px) {
  .about-us-image img {
    position: absolute;
    left: -220px;
  }
}

.who-we-are {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-right: 850px;
  margin-left: 12px;
  z-index: 2;
}

@media screen and (max-width: 1353px) {
  .who-we-are {
    margin-right: 400px;
    width: 60%;
    background: #0c4c9199;
    padding: 0px 25px 0px 0px;
  }
}

@media screen and (max-width: 1238px) {
  .who-we-are {
    margin-right: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 1111px) {
  .who-we-are {
    margin-right: 270px;
  }
}

@media screen and (max-width: 910px) {
  .who-we-are {
    margin-right: 150px;
  }
}

@media screen and (max-width: 860px) {
  .who-we-are {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 20px 0px 20px !important;
    width: 100%;
    height: 55%;
    align-items: center;
  }
}

@media screen and (max-width: 747px) {
  .who-we-are {
    height: 65%;
  }
}

.who-we-are h2 {
  color: white;
  font-size: 40pt;
  text-align: right;
}

@media screen and (max-width: 860px) {
  .who-we-are h2 {
    text-align: center;
  }
}

.who-we-are p {
  color: white;
  font-size: 14pt;
  text-align: right;
}

@media screen and (max-width: 860px) {
  .who-we-are p {
    text-align: center;
  }
}

.who-we-are a {
  background-color: white;
  color: #0c4c91;
  width: 180px;
  text-align: center;
  padding: 15px 7px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.who-we-are a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}

#what-we-do-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 860px) {
  #what-we-do-section {
    flex-direction: column;
    justify-content: space-between;
  }
}

.our-programs-image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 820px;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 860px) {
  .our-programs-image {
    position: relative;
    width: 100%;
    height: 40%;
  }
}

@media screen and (max-width: 747px) {
  .our-programs-image {
    height: 35%;
  }
}

@media screen and (max-width: 644px) {
  .our-programs-image img {
    position: absolute;
    right: -220px;
  }
}

.our-programs-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 40%;
  height: 80%;
  margin-left: 850px;
  margin-right: 12px;
  z-index: 2;
}

@media screen and (max-width: 1353px) {
  .our-programs-info {
    margin-left: 400px;
    width: 60%;
    background: #ffffff99;
    padding: 0px 0px 0px 25px;
  }
}

@media screen and (max-width: 1238px) {
  .our-programs-info {
    margin-left: 340px;
    width: 100%;
  }
}

@media screen and (max-width: 1111px) {
  .our-programs-info {
    margin-left: 270px;
  }
}

@media screen and (max-width: 910px) {
  .our-programs-info {
    margin-left: 150px;
  }
}

@media screen and (max-width: 860px) {
  .our-programs-info {
    margin: 0px 0px 0px 0px !important;
    padding: 0px 40px 0px 40px !important;
    width: 100%;
    height: 60%;
    align-items: center;
  }
}

@media screen and (max-width: 747px) {
  .our-programs-info {
    height: 65%;
  }
}

.our-programs-info h2 {
  color: #0c4c91;
  font-size: 40pt;
  text-align: left;
}

@media screen and (max-width: 860px) {
  .our-programs-info h2 {
    text-align: center;
  }
}

.our-programs-info p {
  color: #0c4c91;
  font-size: 14pt;
  text-align: left;
}

@media screen and (max-width: 860px) {
  .our-programs-info p {
    text-align: center;
  }
}

.our-programs-info a {
  background-color: #0c4c91;
  color: white;
  width: 180px;
  text-align: center;
  padding: 15px 7px;
  font-size: 14pt;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.our-programs-info a:hover {
  background: #404140;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateY(10px);
}
