@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap");
/* TAILWIND CSS LINKS */
@import "tailwindcss";
/* SLICK CAROUSEL LINKS */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #1f317f; /* blue */
  --primary-color-foreground: #ffffff; /* blue */
  --secondary-color: #65a6db; /* light blue */
  --secondary-color-foreground: #292929; /* dark grey */
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

/* 
* BUTTONS
*/
.btn-primary {
  @apply rounded-md bg-blue-600 text-white hover:bg-linear-to-r hover:from-blue-700 hover:to-purple-700;
}

.btn-primary:hover {
  @apply bg-blue-800;
}

/* 
* BANNER
*/
.banner-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/banner/banner_anim.webp");
  /* url("/images/banner/banner_anim.webp"); */
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* 
* ABOUT US
*/

.about-us-bg {
  background-image: linear-gradient(
      rgba(248, 249, 250, 0.7),
      rgba(248, 249, 250, 0.3)
    ),
    url("/images/about-us/headstart_03.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

/* 
* TESTIMONIALS
*/
.testimonials-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/testimonials/headstart_01_testimonials.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* 
* FAQ
*/
.faq-bg {
  background-image: url("/images/faq/swirl.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
* EVENTS
*/

.events-bg {
  background-image: linear-gradient(
      rgba(248, 249, 250, 0.7),
      rgba(248, 249, 250, 0.3)
    ),
    url("/images/about-us/headstart_03.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* 
* MESSAGES US
*/
.bg-messageus {
  background-image: url("/images/messageus/mail_notification.png"),
    url("/images/messageus/mail_paper_plane.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 84% 100%, 12% 18%;
}
